<h2 ng-bind="title"></h2>

<form ng-controller="FormCtrl" ng-submit="submit()" name="loginForm" class="login" autocomplete>
    <h3>Login</h3>
    <label for="user">
        <span>Email:&nbsp;</span>
        <input name="user" ng-model="user" type="email" class="user" required>
        <span class="error" ng-show="loginForm.user.$error.required">Required</span>
    </label>
    <label for="password">
        <span>Password:&nbsp;</span>
        <input name="password" ng-model="password" type="password" class="password" required>
        <span class="error" ng-show="loginForm.password.$error.required">Required</span>
    </label>
    <input type="submit" value="Submit">
</form>
